@model E_Commerce.Models.ProductCart

@{
    ViewBag.Title = "Confirm Order";
}

<h2>Confirm Order</h2>

<div class="col-md-4 mb-3">
    <div class="card h-100">
        <img class="card-img-top" src="@Url.Content(Model.Image)" alt="@Model.ProductName" style="height: 200px; style="widtch: 100px; object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title">@Model.ProductName</h5>
            <p class="card-text">Price: @Model.Price</p>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" name="quantity" class="form-control" value="@Model.Quantity" min="1" />
            </div>
          
            <p class="card-text">Total Price: <span id="totalPrice">@(Model.Price * Model.Quantity)</span></p>

            <form method="post" asp-controller="Cart" asp-action="PlaceOrder">
                <input type="hidden" name="productId" value="@Model.ProductId" />
                <input type="hidden" id="formQuantity" name="quantity" value="@Model.Quantity" />
                <div class="form-group">
                    <label for="orderStatusId">Order Status</label>
                    <select name="orderStatusId" id="orderStatusId" class="form-control">
                        @foreach (var status in (List<SelectListItem>)ViewBag.OrderStatuses)
                        {
                            <option value="@status.Value">@status.Text</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Place Order</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('quantity').addEventListener('input', function () {
            var price = @Model.Price;
            var quantity = this.value;
            var totalPrice = price * quantity;
            document.getElementById('totalPrice').innerText = totalPrice;
            document.getElementById('formQuantity').value = quantity;
        });
    </script>
}