@model IEnumerable<E_Commerce.Models.Role>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add Role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RoleId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RoleId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RoleId })
            </td>
        </tr>
}
    </tbody>
</table>
